section {
  background: #00aeef;
}
P {
  font-family: Gotcha;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  //line-height: 60.5%; /* 36.3px */
  letter-spacing: 3.6px;
}

label {
  width: 230.636px;
  color: #fff;
  font-family: Branding;
  font-size: 12px;
  font-style: normal;
  line-height: 11px; /* 110% */
}

.input-field,.form-control:focus {
  width: 255.177px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #00aeef;
}


.form-control::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
  font-family: Branding;
  font-size: 14px;
}

.form-check-input {
  height: 25px;
  width: 25px;
}
@media screen and (max-width: 576px) {
  P {
    font-family: Gotcha;
    font-size: 30px;
    line-height: 60px; /* 36.3px */
    letter-spacing: 3.6px;
  }

  label {
    width: 100%;
  }
  .mb-4 {
    margin-bottom: 0.5rem !important;
  }
}

.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.custom-toast.success {
  background-color: #28a745;
}

.custom-toast.error {
  background-color: #dc3545;
}

@media screen and (max-width: 395px) {
  p {
    font-size: 19px;
  }
}
