<div class="d-flex flex-column justify-content-center align-items-center">
    <p class="font-gotcha text-red main-title letter-spacing-1 mb-0">{{setsUstObj?.title}}</p>
    <p class="text-blue letter-spacing-1 text-center w-50">{{setsUstObj?.description}}.</p>
    <div class="d-flex justify-content-center">
        <div class="point d-flex align-items-center justify-content-center">
            <div class="circle bg-navy rounded-pill text-white d-flex align-items-center justify-content-center">
                1
            </div>
            <p class="description text-red mt-3 ms-2">{{setsUstObj?.title}}.</p>
        </div>
        <div class="point d-flex align-items-center justify-content-center mx-3">
            <div class="circle bg-navy rounded-pill text-white d-flex align-items-center justify-content-center">
                2
            </div>
            <p class="description text-red mt-3 ms-2">{{setsUstObj?.title}}.</p>
        </div>
        <div class="point d-flex align-items-center justify-content-center">
            <div class="circle bg-navy rounded-pill text-white d-flex align-items-center justify-content-center">
                3
            </div>
            <p class="description text-red mt-3 ms-2">{{setsUstObj?.title}}.</p>
        </div>
    </div>
    <p class="text-blue letter-spacing-1 text-center w-50 mt-3">{{setsUstObj?.bottom}}</p>

</div>