button {
  width: 180px;
  height: 55px;
}
div.image {
  max-width: 64px !important;
}
.product-basket-section {
  .product {
    i {
      cursor: pointer;
    }

     .product-image {
      max-width: 64px !important;
    }

    .product-price {
      i {
        height: 16px;
        line-height: 0px;
      }
    }
  }
}

.addons-listing {
  .product {
    max-width: 250px;
    .form-check input {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .product-title {
      font-size: 14px;
    }

    .product-price {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  button {
    width: 155px;
    height: 45px;
  }

  .total-addons{
    width: 100%;
  }
}
