<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Content Tiles
    </title>
</head>

<body class="bg-gray-light">
    <div class='text-center text-blue mt-4'>
        <span class="contact-tiles-content second-title letter-spacing-1">
            We'd love to hear from you.<br />
        </span>
        <span class="contact-tiles-content letter-spacing-1">
            Here are ways you can contact us:
        </span>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-6 contact-tiles-box text-center text-blue">
            <div class='second-title fw-bold mt-3'>
                <img src="assets/images/call-us-icon.png" class="me-2" />
                Call Us
            </div>
            <div class="contact-tiles-content font-size-45 fw-bold mt-3">0203 123 1234</div>
            <div class="description-contact mt-3">
                Our UK contact centre is available<br />
                during the following times:
            </div>
            <div class="description-contact mt-2 mb-3">Mon-Fri 8am-8pm | Sat-Sun 9am-4pm
            </div>
        </div>
        <div class="col-6 contact-tiles-box text-center text-blue">
            <div class='second-title fw-bold mt-3'>
                <img src="assets/images/chat-with-us-icon.png" class="me-2" />
                Chat With Us.
            </div>
            <div class="contact-tiles-content font-size-45 fw-bold mt-3">078787 111 222</div>
            <div class="row m-3 d-flex justify-content-between align-items-center">
                <div class="col-6 description-contact chat-with-us-content">
                    Add the number<br /> above to chat to us <br /> or scan the QR code
                </div>
                <div class="col-6 chat-with-us-qr">
                    <img src="assets/images/chat-with-us-qr.png" class="" />
                </div>
            </div>

        </div>
    </div>


</body>

</html>