<div class="container-md mb-5">
    <h1  class="second-title text-blue text-center px-3 py-2">
        <img src="assets/images/write-to-us-icon.png" class="mb-3 me-3" />
        Write To Us
    </h1>

    <div class="bg-navy row">
        <div class="col-4 mt-5">
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <span class="write-to-us-content">You
                        can write to us at any <br />time on the following address:<br /><br />
                    </span>
                </div>
                <div class="col-12 text-center">

                    <span class="write-to-us-content">Donor
                        Care Team<br />
                    </span>
                    <span class="write-to-us-content">123
                        Long Street,<br />London, SW1 2JS<br />United Kingdom
                    </span>
                </div>
            </div>
        </div>
        <div class="col-8">
            <!-- class="d-block w-100" -->
            <img src="assets/images/write-to-us.png"   />
        </div>

    </div>
</div>