<div class="bg-gray-light mb-5 mt-4">
    <h1 class="second-title text-blue text-center px-3 py-2">
        <img src="assets/images/email-us-icon.png" class="mb-3 me-3" />
        Email Us
    </h1>
    <form>
        <div class="container-md mt-3">
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="firstName" class="form-label mb-0 text-blue fw-bold letter-spacing-1">First
                            Name</label>
                        <input class="form-control rounded-1" type="text" name="firstName" id="firstName" required />

                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="lastName" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Last
                            Name</label>
                        <input class="form-control rounded-1" type="text" name="lastName" id="lastName" required />

                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="bestTimeToCall" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Subject
                            Of The
                            Call</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Volunteering</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="email" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Email
                            address</label>
                        <input class="form-control rounded-1" type="email" name="email" id="email" email required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                        <!-- <div *ngIf="email.touched && email.invalid">
                            <div class="text-red" *ngIf="email.errors?.['required']">
                                Email is required
                            </div>
                            <div class="text-red" *ngIf="email.errors?.['pattern']">
                                Invalid email address.
                            </div>
                        </div> -->
                    </div>

                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="confirmEmail" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Confirm
                            Email
                            address</label>
                        <input type="confirmEmail" class="form-control rounded-1" name="confirmEmail" id="confirmEmail"
                            required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                        <!-- <div *ngIf="confirmEmail.touched && confirmEmail.invalid">
                        <div class="text-red" *ngIf="confirmEmail.errors?.['required']">
                            Confirm Email is required.
                        </div>
                        <div class="text-red" *ngIf="confirmEmail.errors?.['pattern']">
                            Invalid email address.
                        </div>
                        <div class="text-red" *ngIf="confirmEmail.errors?.['incorrect']">
                            Emails do not match.
                        </div>
                    </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                </div>
            </div>
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-9 col-sm-12">
                    <label for="message" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Message</label>
                    <textarea id="message" class="form-control  rounded-1" name="message" rows="4" cols="50">
                </textarea>
                </div>
            </div>
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-9 col-sm-12 mt-3 mb-3">
                    <label for="file-upload" class="custom-file-upload">
                        <i class="bi bi-paperclip"></i>
                        Upload Attachment
                    </label>
                    <input class="form-control input-custom-file-upload" type="file" id="file-upload">
                </div>
            </div>
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-9 col-sm-12">
                    <button type="button"
                        class="bg-red text-white float-end fw-bold rounded-pill border-0 py-1 px-5">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send
                        Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>