<app-simple-banner [bannerObject]="bannerObject"></app-simple-banner>
<app-breadcrumb></app-breadcrumb>
<app-vision-statement [visionStatementObj]= "visionStatementObj"></app-vision-statement>
<app-ceo-messages [ceoMessageObj]="ceoMessageObj"></app-ceo-messages>
<app-timeline-story [timelineStoryObj]="timelineStoryObj"></app-timeline-story>
<app-sets-us [setsUstObj]="setsUstObj"></app-sets-us>
<app-our-commitment [ourCommitmentObj]="ourCommitmentObj"></app-our-commitment>
<app-other-ways-help [otherWaysHelpObj]="otherWaysHelpObj"> </app-other-ways-help>
<!-- <app-quick-donation [showDarkBlueSection]="true"></app-quick-donation> -->
