<img src="assets/images/blue-text.png" class="d-flex m-auto my-3" />
<div class="stepper-form container-md border border-1 rounded-2 py-3 mb-5 letter-spacing-1">
  <h6 class="font-gotcha text-blue text-center main-title mb-0">Alhamdulilah!</h6>
<p class="text-blue text-center text mb-0">
  May Allah reward you greatly and bless you.
</p>
<div class="row mt-3 mx-5">
  <div class="col-md col-6 my-2">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div
        class="circle rounded-pill d-flex align-items-center justify-content-center"
      >
        <img src="assets/images/icons.png" />
      </div>
      <p class="pt-1 fw-bold text-red mb-1">Share on social</p>
      <p class="text text-center text-blue">
        1 social share =<br />
        1 meal
      </p>
    </div>
  </div>
  <div class="col-md col-6 my-2">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div
        class="circle rounded-pill d-flex align-items-center justify-content-center"
      >
        <img src="assets/images/heart-hands.png" />
      </div>
      <p class="pt-1 fw-bold text-red mb-1">Fundraise for us</p>
      <p class="text text-center">
        Every penny counts<br />
        on your scales. Click<br />
        here to get started
      </p>
    </div>
  </div>
  <div class="col-md col-6 my-2">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div
        class="circle rounded-pill d-flex align-items-center justify-content-center"
      >
        <img src="assets/images/flag-011.png" />
      </div>
      <p class="pt-1 fw-bold text-red mb-1">Represent the cause</p>
      <p class="text text-center">
        Check out our merch store. Show your dedication to the cause
      </p>
    </div>
  </div>
  <div class="col-md col-6 my-2">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div
        class="circle rounded-pill d-flex align-items-center justify-content-center"
      >
        <img src="assets/images/thumbs-ups.png" />
      </div>
      <p class="pt-1 fw-bold text-red mb-1">Follow our socials</p>
      <p class="text text-center">
        Follow our socials<br />
        to stay up to date
      </p>
    </div>
  </div>
  <div class="col-md col-12 my-2">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div
        class="circle rounded-pill d-flex align-items-center justify-content-center"
      >
        <img src="assets/images/users-022.png" />
      </div>
      <p class="pt-1 fw-bold text-red mb-1">Join our events</p>
      <p class="text text-cente">
        Join us at our next<br />
        events. Check <br />them out here
      </p>
    </div>
  </div>
</div>
<section class="bg-light-blue px-4 py-4 mx-4 my-2">
  <p class="text-blue description letter-spacing-1">Keep in Touch</p>
  <p class="text-blue details mb-1">
    We would like to keep in touch with you to share the latest info on our work
    as well as how your donations have helped save lives, via SMS, telephone and
    email (inc. via social media). We will always treat your personal
    information with the utmost care and will keep it private.
  </p>
  <div class="d-flex">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      [(ngModel)]="isChecked"
    />
    <label class="form-check-label mx-2" for="isChecked">
      I am happy for MATW Project to keep in touch with me as described above.
    </label>
  </div>
  <div *ngIf="showError" class="text-red mx-4">
    Please check the checkbox before submitting.
  </div>
  <div class="text-center mt-3">
    <button
      class="text-red border-red border-1 border-solid bg-transparent rounded-pill mx-3 px-5 py-2 fw-bold"
      type="submit"
      (click)="submitPreerences()"
    >
      Save Preferences
    </button>
  </div>
</section>

  </div>




