<section class="py-4  bg-light-blue h-auto">
  <div class="container px-0 d-flex flex-column">
  <h5 class="text-blue font-gotcha letter-spacing-1 text-center main-title">
    Build Your Legacy
  </h5>
  <p class="text-blue fw-sm-bold text-center description p-sm-0 p-3">
    Legacy, for MATW, embodies a commitment to leaving a lasting and positive
    impact. Inspired by our esteemed founder, Ali Banat,<br />
    MATW believes in giving through Sadaqah Jariyah and supporting those in
    need. We can help you also build your legacy today!
  </p>
  <div class="row m-0">
    <div class="col-12 col-lg-4 px-sm-3  p-0">
      <div class="card">
        <img src="assets/images/classroom.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Build your classroom</h6>
          <p class="card-text">
            Help build a classroom to educate 25 students annually, in one of
            our centres in Togo.
          </p>
          <a href="javascript:void(0)" class="see-more">See More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 px-sm-3  p-0">
      <div class="card my-3 my-lg-0">
        <img
          src="assets/images/water-well.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-title">Build your water well</h6>
          <p class="card-text">
            Contribute towards the building of wells in communities in dire need
            of clean water, and maintain existing wells.
          </p>
          <a href="javascript:void(0)" class="see-more">See More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 px-sm-3  p-0">
      <div class="card">
        <img src="assets/images/mosque.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Build a Mosque</h6>
          <p class="card-text">
            Contribute to help MATW build Masjids in rural and povert-stricken
            communities.
          </p>
          <a href="javascript:void(0)" class="see-more">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
