<div class="max-width-1440 m-auto">
    <div class="row align-items-center m-0">
        <div class="col-md-6 col-12">
            <div class="person-image ps-sm-2 pt-4 text-center">
                <img src="{{visionStatementObj.image?.data?.attributes?.url}}" class="w-100">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="text-center text-blue mt-sm-0 mt-2">
            <p class="statement-title letter-spacing-1">
                <span>{{visionStatementObj?.title}}</span>
            </p>
            <p class="statement-description letter-spacing-1  p-0">
             {{visionStatementObj?.description}}
            </p>
        </div>
        </div>
    </div>
</div>