<div class="emergency-appeals d-flex flex-column px-sm-5">
  <p
    class="text-capitalize text-blue font-gotcha letter-spacing-1 text-center main-title m-auto"
  >
    Shop
  </p>
  <p class="w-sm-75 text-blue description text-center m-auto px-3">
    Shop our merch, and every penny goes back into our campaigns- no penny is
    wasted.
  </p>

  <i id="left" class="bi bi-chevron-left" (click)="prevSlider()"></i>
  <div class="product-slider-wrapper my-4 container-sm">
    <div class="product-slider" #slider>
      <div class="card border-0" #product>
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="assets/images/Tee.png" class="card-img-top" alt="..." />
        <div class="d-flex flex-column align-items-center px-3">
          <p class="fw-bold text-capitalize mb-0">T-Shirt</p>
          <p class="fw-bold mb-0">$30.00</p>
        </div>
      </div>
    </div>
  </div>
  <i id="right" class="bi bi-chevron-right" (click)="nextSlider()"></i>
</div>
