<div class="d-flex justify-content-center bg-red">
    <p class="text-white main-heading font-gotcha letter-spacing-1 mb-0">From the Gallery</p>
</div>
<div class="max-width-1440 m-auto">
<div class="row m-0">
    <div class="col-md-6">
        <div id="carouselExampleDark" class="carousel carousel-dark slide mt-4 m-auto mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <img src="{{currentImage.imageUrl}}" class="d-block w-100" alt="...">
                <div class="carousel-caption ">
                  <p class="w-75 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris orci sem, pulvinar et urna vitae, suscipit mollis ex. Quisque in velit.</p>
                  <button class="carousel-control-prev" type="button" (click)="moveLeft()">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="carousel-control-next" type="button" (click)="moveRight()">
                    <i class="bi bi-chevron-right"></i>
                </button>
                </div>
              </div>
            </div>
           
          </div>
    </div>
    <div class="col-md-6 px-0">
        <div class="d-flex flex-column gallery-images">
            <div class="row">
                <div class="col-6 px-0" *ngFor="let image of currentDisplayList; index as i">
                    <div class="image" [ngClass]="{'float-end': i == 0 || i == 2, 'movingleft ': isMoveRight, 'movedLeft': isMoveRight}">
                        <img src="{{image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>