.main-heading{
    font-size: 80px;
}

.sub-heading{
    font-size: 20px;
}

.carousel{
    width: 640px;
    height: 560px;

    img{
        width: 100%;
    }
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    bottom: 10px;
    opacity: 1;
    font-size: 50px;
    width: 40px;
}

.gallery-images{
    overflow: hidden;

    .image{
        width: 360px;
        height: 310px;
        transition: transform 1s;
        
        &.moveleft{
            transform: translate(-360px);      
        }

        &.movedLeft{
            transition: transform 0s;
            //transform: translate(0px);            
        }

        // &.moveRight{
        //     transform: translate(360px);            
        // }

        img{
            width: 100%;
        }
    }
}