<div class="impact-section">
  <div class="d-flex flex-column container py-3">
    <h6 class="font-gotcha text-blue text-center main-title">Our Impact</h6>
    <p class="description text-blue text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis
      malesuada laoreet. Donec tristique mollis lectus, pulvinar.
    </p>

    <div class="row m-0">
      <div class="col-md-3 col-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div
            class="circle rounded-pill d-flex align-items-center justify-content-center"
          >
            <img src="assets/images/globe-europe-solid 1.png" />
          </div>
          <p class="pt-3 fw-bold second-title mb-0">25</p>
          <p class="text-center description">Countries Supported</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div
            class="circle rounded-pill d-flex align-items-center justify-content-center"
          >
            <img src="assets/images/mosque_icon.png" />
          </div>
          <p class="pt-3 second-title fw-bold mb-0">10,111</p>
          <p class="text-center description">Mosques Built</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div
            class="circle rounded-pill d-flex align-items-center justify-content-center"
          >
            <img src="assets/images/educated.png" />
          </div>
          <p class="pt-3 fw-bold second-title mb-0">61,456</p>
          <p class="text-center description">Orphans Educated</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div
            class="circle rounded-pill d-flex align-items-center justify-content-center"
          >
            <img src="assets/images/clone-solid.png" />
          </div>
          <p class="pt-3 fw-bold second-title mb-0">96,625,262</p>
          <p class="text-center description">Beneficiary Supported</p>
        </div>
      </div>
    </div>
  </div>
</div>
