<div class="simple-banner">
    <div class="banner-body">
          
          <div class='media' *ngIf="bannerObject.page == 'storypage' || 'aboutpage'">
            <iframe src="https://youtube.com/embed/dzL6BLPAFBo?autoplay=0" >
            </iframe> 
            <!-- <video #videoRef>
              <source src="{{banner}}" type="video/mp4">
              Your browser does not support HTML video.
            </video> -->
            <!-- <div class="play-btn px-3">
              <a href="#"  (click)="playVideo(videoRef)"><i class="bi " [className]="videoRef.paused ? mediaPlyaerBtnIcon : mediaPlyaerBtnIcon"></i></a>
            </div> -->
           </div> 
    </div>
  </div>
  