<section class="d-flex flex-column py-3 container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="card my-3">
        <img
          class="card-img-top"
          src="assets/images/ambassidor.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Become an Ambassador</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card my-3">
        <img
          class="card-img-top"
          src="assets/images/volunteer.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Volunteer</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card my-3">
        <img
          class="card-img-top"
          src="assets/images/fundraise.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Fundraise</h5>
        </div>
      </div>
    </div>
  </div>
</section>
