<div class="bg-blue-light mt-4">
    <h1 class="second-title text-blue text-center px-3 py-2">
        <div class="mt-3">
            <img src="assets/images/request-a-call-back-icon.png" class="mb-3 me-3">
            Request a call back
        </div>
      
    </h1>
    <form>
        <div class="container-md mt-3">
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="firstName" class="form-label mb-0 text-blue fw-bold letter-spacing-1">First
                            Name</label>
                        <input class="form-control rounded-1" type="text" name="firstName" id="firstName" required />

                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="lastName" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Last
                            Name</label>
                        <input class="form-control rounded-1" type="text" name="lastName" id="lastName" required />

                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Contact
                            Number</label>
                        <input class="form-control rounded-1" type="text" name="contactNumber" id="contactNumber"
                            required />

                    </div>
                </div>
            </div>
            <div class="row mx-4 align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="bestTimeToCall" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Best
                            Time To Call</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Morning (8am-11:30pm)</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <label for="bestTimeToCall" class="form-label mb-0 text-blue fw-bold letter-spacing-1">Subject
                            Of The
                            Call</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Volunteering</option>
                            </select>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="mb-3">
                        <button type="button"
                            class="bg-red text-white fw-bold letter-spacing-1 rounded-pill border-0 mt-4 py-1 px-5">
                            Request Call Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>