<div class="max-width-1440 m-auto py-4 ">
    <div class="row align-items-center m-0">
        <div class="col-md-6 col-12">
            <div class="person-image">
                <img src="assets/images/reasons.png" class="w-100">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class=" text-blue mt-sm-0 mt-2">
                <p class="text-center statement-title fw-bold letter-spacing-1 mb-1 d-sm-block d-none">
                    Here are 5 good reasons why you <br> should be at the next MATW event:
                </p>
                <p class="text-center statement-title fw-bold letter-spacing-1 mb-1 d-sm-none d-block">
                    Here are 5 good reasons why you should be at the next MATW event:
                </p>
                <div class="statement-description ms-sm-5 d-flex">
                    <ul class="d-flex flex-column align-items-start">
                        <li>
                            Learn, be entertained and be inspired.
                        </li>
                        <li>
                            Some of the nest events in the industry.
                        </li>
                        <li>
                            Be part of our growing community.
                        </li>
                    </ul>
                    <ul class="d-flex flex-column align-items-start">
                        <li>
                            Events help us towards admin costs.
                        </li>
                        <li>
                            Bringing guests with you helps raise awareness of our causes.
                        </li>
                     
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>