.person-image{
    max-width: 600px;
    max-height: 500px;
}

.statement-title{
    font-size: 30px;
    position: relative;
}

.statement-description{
    font-size: 20px;
}


@media screen and (max-width: 575px) {
    .statement-title{
        font-size: 16px;
        position: relative;
    }
    
    .statement-description{
        font-size: 14px;
    }
  }