<app-slider-banner [bannerObject]="bannerObject"></app-slider-banner>
<app-founder-intro></app-founder-intro>
<app-quick-donation></app-quick-donation>
<app-our-commitment></app-our-commitment>
<app-build-legacy-project></app-build-legacy-project>
<app-emergency-appeal [productList]="productList"></app-emergency-appeal>
<app-ali-banat-story></app-ali-banat-story>
<app-impact-areas></app-impact-areas>
<app-event-banner></app-event-banner>
<app-global-report></app-global-report>
<app-instagram-story></app-instagram-story>
<app-volunteer-ambassador-fundraise></app-volunteer-ambassador-fundraise>
<app-ecommerce></app-ecommerce>
<app-signup-newsletter></app-signup-newsletter>

