.circle{
    width: 208px;
}

.main-heading{
    font-size: 80px;
}

.sub-heading{
    font-size: 20px;
}

.circle-icon{
    width: 208px;
    height: 208px;
    border-radius: 50%;
}

.icon-title{
    font-size: 20px;
}

.icon-description{
    font-size: 14px;
}
