<div class="max-width-1440 m-auto py-4 px-sm-5 mx-sm-5">
    <div class="row align-items-center m-0">
        <div class="col-md-6 col-12">
            <div class="person-image">
                <img src="assets/images/comedian-img.png" class="w-100">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="text-sm-start text-center text-blue mt-sm-0 mt-2">
                <div class="d-flex flex-column ">
                    <p class="statement-title fw-bold letter-spacing-1 mb-1">
                        Comedy Tour
                    </p>
                    <div class="mb-3 d-flex">
                        <span class="badge rounded-pill bg-blue py-sm-2 py-3 px-3 letter-spacing-1 me-3 flex-md-grow-0 flex-grow-1">Comedy</span>
                        <span class="badge rounded-pill bg-blue py-sm-2 py-3 px-3 letter-spacing-1 flex-md-grow-0 flex-grow-1">Educational</span>
                    </div>
                </div>
                <p class="statement-description letter-spacing-1  p-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris orci sem, pulvinar et urna vitae, suscipit mollis ex. Quisque in velit odio. Donec pharetra massa euismod, posuere eros eget, egestas sapien. Curabitur justo dolor, ultrices eu hendrerit id, vulputate ut libero. In pharetra sit amet eros vitae condimentum. Morbi sollicitudin bibendum felis, vel efficitur eros condimentum in. Mauris ultrices semper tortor volutpat consectetur. Praesent sed eleifend lacus, et pulvinar massa. Aenean finibus eu tortor eget pharetra.
                </p>
                <div class="d-flex">
                <button class="fw-bold bg-red text-white rounded-pill py-2 px-4 letter-spacing-1 border-0 flex-md-grow-0 flex-grow-1">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>