<div class="loader" [ngClass]="{'show popup-requires-no-scroll': showLoader}"> 
   <div class="content">
    <div class="lds-spinner text-red">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p>Processing...</p>
    <p>You will be redriected to payment <br> screen. It might take a few second.
        <br>
        <br>
        Please do not refresh the page or click the <br> "Back" or "Close" button of your browser. 
    </p>
    </div>
</div>
