<app-simple-banner [bannerObject]="bannerObject"></app-simple-banner>
<app-breadcrumb></app-breadcrumb>
<app-quick-donation class="d-sm-block d-none"></app-quick-donation>
<app-vision-statement></app-vision-statement>
<app-timeline-story></app-timeline-story>
<app-circle-icon-ui [data]="legacyProjectData"></app-circle-icon-ui>
<app-video></app-video>
<app-gallery></app-gallery>
<app-other-ways-help></app-other-ways-help>
<!-- <app-quick-donation [showDarkBlueSection]="true"></app-quick-donation> -->
