<section class="container py-3">
  <h6 class="commitment-title text-center text-blue font-gotcha main-title">
    Our commitments to you.
  </h6>
  <div class="row m-0">
    <div class="col-md-3 col-6">
      <div class="d-flex flex-column align-items-center">
        <div
          class="circle rounded-pill bg-blue d-flex justify-content-center align-items-center"
        >
          <img src="assets/images/coins-hand (1).png" />
        </div>
        <p
          class="pt-3 mb-0 text-center description text-blue fw-bold letter-spacing-1"
        >
          100% Donation policy
        </p>
        <a href="javascript:void(0)" class="see-more text-blue description text-decoration-none"
          >See More <i class="bi bi-question-circle-fill text-red"></i
        ></a>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="d-flex flex-column align-items-center">
        <div
          class="circle rounded-pill bg-blue d-flex justify-content-center align-items-center"
        >
          <img src="assets/images/check-done-01.png" />
        </div>
        <p
          class="pt-3 mb-0 text-center description text-blue fw-bold letter-spacing-1"
        >
          Full transparency
        </p>
        <a href="javascript:void(0)" class="see-more text-blue description text-decoration-none"
          >See More <i class="bi bi-question-circle-fill text-red"></i
        ></a>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="d-flex flex-column align-items-center mt-sm-0 mt-4">
        <div
          class="circle rounded-pill bg-blue d-flex justify-content-center align-items-center"
        >
          <img src="assets/images/target-04.png" />
        </div>
        <p
          class="pt-3 mb-0 text-center description text-blue fw-bold letter-spacing-1"
        >
          We deliver what you asked
        </p>
        <a href="javascript:void(0)" class="see-more text-blue description text-decoration-none"
          >See More <i class="bi bi-question-circle-fill text-red"></i
        ></a>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="d-flex flex-column align-items-center mt-sm-0 mt-4">
        <div
          class="circle rounded-pill bg-blue d-flex justify-content-center align-items-center"
        >
          <img src="assets/images/Isolation_Mode.png" />
        </div>
        <p
          class="pt-3 mb-0 text-center description text-blue fw-bold letter-spacing-1"
        >
          We listen and act
        </p>
        <a href="javascript:void(0)" class="see-more text-blue description text-decoration-none"
          >See More <i class="bi bi-question-circle-fill text-red"></i
        ></a>
      </div>
    </div>
  </div>
</section>
