<div class="walkthrough show reveal event-banner">
  <div class="walkthrough-body">
    <ul class="screens animate">
      <li class="screen" [ngClass]="{ active: index === 0 }">
        <div class="media">
          <img class="object-fit-fill" src="assets/images/event.png" />
        </div>
      </li>
      <li class="screen" [ngClass]="{ active: index === 1 }">
        <div class="media">
          <img class="object-fit-fill" src="assets/images/event.png" />
        </div>
      </li>
      <li class="screen" [ngClass]="{ active: index === 2 }">
        <div class="media">
          <img class="object-fit-fill" src="assets/images/event.png" />
        </div>
      </li>
    </ul>
  </div>

</div>
