/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Branding";
  src: url("assets/fonts/branding-pro/Branding_Black.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Branding";
  src: url("assets/fonts/branding-pro/Branding_Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Branding";
  src: url("assets/fonts/branding-pro/Branding_Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: "Branding";
  src: url("assets/fonts/branding-pro/Branding_Semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Branding";
  src: url("assets/fonts/branding-pro/Branding_Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotcha";
  src: url("assets/fonts/gotcha-standup/GotchaStandup.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Branding;
  font-weight: 500;
}

body:has(.popup-requires-no-scroll){
  overflow: hidden;
}

.max-witdh-94 {
  max-width: 94%;
}

.max-width-1440 {
  max-width: 1440px;
}

.font-gotcha {
  font-family: Gotcha;
}

.bg-blue {
  background-color: #02b9ff !important;
}

.bg-dark-blue {
  background-color: #0090c6 !important;
}

.bg-light-blue {
  background-color: rgba(2, 185, 255, 0.2) !important;
}

.bg-blue-light {
  background: #ccf1ff;
}

.bg-gray-light {
  background: #F8F8F8
}

.bg-navy {
  background-color: #1e3271 !important;
}

.border-navy {
  border-color: #1e3271 !important;
}

.border-blue {
  border-color: #00aeef !important;
}

.bg-red {
  background-color: #ee135a !important;
}

.border-navy {
  border-color: #1e3271;
}

.bg-red {
  background-color: #ee135a !important;
}

.bg-light-white {
  background: #f7fafc !important;
}

.text-red {
  color: #ee135a !important;
}

.text-blue {
  color: #1e3271 !important;
}

.text-light-blue {
  color: #02b9ff !important;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.icon-bold {
  -webkit-text-stroke: 1px;
}

.main-title {
  font-size: 80px;
}

.second-title {
  font-size: 35px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  font-weight: bold;
}

.border-red {
  border-color: #ee135a !important;
}

.rounded-top-left {
  border-top-left-radius: 0.375rem !important;
}

.rounded-top-right {
  border-top-right-radius: 0.375rem !important;
}

.rounded-bottom-left {
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: 0.375rem !important;
}

.border-solid {
  border-style: solid;
}

.description {
  font-size: 20px;
}

// ========== custom banner =============
.open-walkthrough {
  border: 0;
  background: #5da3f2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  height: 40px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -60px;
}

.walkthrough {
  // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  //background: linear-gradient(to right bottom, #9e66c6, #6027e1);
  border-radius: 0;
  display: none;
  flex-direction: column;
  flex: 0 0 auto;
  font-size: 14px;
  //height: 464px;
  height: 95vh;
  position: relative;
  // top: -40px;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: 10;

  &.height-80{
    height: 82vh;
  }

  &.height-40{
    height: 18vw;
  }
}

.contact-banner {
  font-size: 5vw;
}

.walkthrough.show {
  display: flex;
  opacity: 0;
  transform: translateY(72px);
}
.walkthrough.reveal {
  opacity: 1;
  transform: translateY(0);
}
.walkthrough .walkthrough-body {
  align-items: center;
  display: flex;
  flex: 1;
  text-align: center;
}
.walkthrough .walkthrough-body .prev-screen,
.walkthrough .walkthrough-body .next-screen {
  align-self: stretch;
  background: none;
  border: 0;
  margin-top: 10%;
  color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 50px;
  opacity: 1;
  outline: none;
  padding: 16px;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}
.walkthrough .walkthrough-body .prev-screen:hover,
.walkthrough .walkthrough-body .prev-screen:active,
.walkthrough .walkthrough-body .next-screen:hover,
.walkthrough .walkthrough-body .next-screen:active {
  color: white;
  transform-origin: center;
  transform: scale(1.25);
}
.walkthrough .walkthrough-body .prev-screen:disabled,
.walkthrough .walkthrough-body .next-screen:disabled {
  opacity: 0;
}
.walkthrough .walkthrough-body .prev-screen {
  order: 1;
}
.walkthrough .walkthrough-body .next-screen {
  order: 3;
}
.walkthrough .walkthrough-body .screens {
  flex: 1;
  align-self: stretch;
  position: relative;
  //margin: 0 -16px;
  padding: 0;
  order: 2;
}
.walkthrough .walkthrough-body .screens .screen {
  position: absolute;
  list-style-type: none;
}
.walkthrough .walkthrough-body .media {
  // background: rgba(255, 255, 255, 0.25);
  // border-radius: 132px;
  // height: 132px;
  // margin: 32px auto;
  // width: 132px;
  height: 100vh;
  width: 100vw;
}
.walkthrough .walkthrough-body h3 {
  font-size: 2rem;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.walkthrough .walkthrough-body p {
  // line-height: 1.6em;
  // font-size: 1.5rem;
  // margin-top: 16px;
  // padding-top: 0;
  //  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}
.walkthrough .walkthrough-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.walkthrough .walkthrough-pagination .dot {
  background: rgb(248 249 250);
  border-radius: 8px;
  height: 10px;
  margin: 0 4px;
  cursor: pointer;
  transform: scale(0.75);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 10px;
}
.walkthrough .walkthrough-pagination .dot.active {
  background: white;
  transform: scale(1);
  transition-delay: 0.4s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.walkthrough .walkthrough-footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 0;
}
.walkthrough .walkthrough-footer button {
  height: 40px;
  border: 0;
  background: #5da3f2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 0;
  color: white;
  flex: 1;
  font-size: 12px;
  margin: 0;
  outline: 0;
  padding: 12px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.walkthrough .walkthrough-footer button:hover {
  background: #6babf3;
}
.walkthrough .walkthrough-footer button:active {
  background: #5da3f2;
}
.walkthrough .walkthrough-footer button:disabled {
  cursor: pointer;
}
.walkthrough .walkthrough-footer button.finish {
  background: #3e94f5;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .walkthrough-footer button.finish:hover {
  background: #4d9cf6;
}
.walkthrough .walkthrough-footer button.finish:active {
  background: #3e94f5;
}
.walkthrough .walkthrough-footer button.finish.active {
  transform: scale(1, 1);
  opacity: 1;
}
.walkthrough .screens {
  margin: 0;
}
.walkthrough .screens .media .status-badge {
  left: 136px;
  opacity: 0;
  position: absolute;
  top: 104px;
  transform: scale(0);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.6s;
}
.walkthrough .screens .media .status-badge i {
  display: inline;
}
.walkthrough .screens .media.logo .logo {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 80px;
}
.walkthrough .screens .media .icon {
  position: absolute;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 132px;
  left: 48px;
  top: 32px;
}
.walkthrough .screens .media.bars .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.bars .icon:nth-of-type(2) {
  transform: scale(0.25);
  transform-origin: 30% 54%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(3) {
  transform: scale(0.25);
  transform-origin: 30% 40%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(4) {
  transform: scale(0.25);
  transform-origin: 30% 26%;
}
.walkthrough .screens .media.files .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.comm .icon {
  transform: scale(0.25);
  transform-origin: 29% 73%;
}
.walkthrough .screens .media.comm .icon:nth-child(2) {
  transform-origin: 66% 85%;
}
.walkthrough .screens .screen {
  visibility: hidden;
  position: absolute;
  transform: translateX(-100%);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .screens .screen.active {
  visibility: visible;
  transform: translateX(0) scale(1);
  // transition-delay: 1s;
}
.walkthrough .screens .screen.active ~ .screen {
  visibility: hidden;
  transform: translateX(100%);
}
.walkthrough .screens .screen.active .media .status-badge {
  opacity: 1;
  transform: scale(1.75);
}
.walkthrough .screens .screen.active .media.logo .logo {
  opacity: 0.8;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.logo .status-badge {
  transition-delay: 1s;
}
.walkthrough .screens .screen.active .media.books .icon {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.books .icon:nth-child(2) {
  transition-delay: 0.725s;
}
.walkthrough .screens .screen.active .media.books .icon:nth-child(3) {
  transition-delay: 0.85s;
}
.walkthrough .screens .screen.active .media.books .status-badge {
  transition-delay: 1.4s;
}
.walkthrough .screens .screen.active .media.bars .icon {
  opacity: 1;
  transform: translate(0) scale(1);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(2) {
  transition-delay: 1.05s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(3) {
  transition-delay: 0.925s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(4) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.files .icon {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(3) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(2) {
  transition-delay: 0.7s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(1) {
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.files .status-badge {
  transition-delay: 1.6s;
}
.walkthrough .screens .screen.active .media.comm .icon {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.comm .icon:nth-child(2) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.comm .status-badge {
  transition-delay: 1.6s;
}

@media screen and (max-width: 576px) {
  .main-title {
    font-size: 30px;
  }

  .second-title {
    font-size: 18px;
  }

  .description {
    font-size: 15px;
  }

  .walkthrough,
  .walkthrough .walkthrough-body .media {
    height: 60vh;
  }

  .description {
    font-size: 15px;
  }

  .walkthrough,
  .walkthrough .walkthrough-body .media {
    height: 60vh;
  }

  .founder-intro {
    height: 240px !important;
  }

  .founder-intro.card-expanded {
    top: 5vh !important;
    height: 450px !important;
  }
}

button:active,
i:active {
  transform: scale(0.95);
  //border: none;
}

